@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 10.386%;
}

// first
.header {
    background-color: #F6F2F2;
    display: flex;
    flex-direction: column;

    &__nav {
        opacity: 0.8;
        background: #000;
        width: 100%;
        height: 89px;
    }

    &__description {
        display: flex;
        gap: 5.193%;
        margin-top: 102px;
        margin-bottom: 111px;

        &-text {
            width: 49.4%;
        }

        &-img {
            width: 44.045%;
            height: 40vh;
            background-image: url(/imgs/office.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #ab9a87;
            box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
        }
    }

    &__h1 {
        font-size: 3.75rem;
        line-height: 120%;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #000000;
    }

    &__p {
        margin-top: 36px;
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
        width: 88.187%
    }

    &__button {
        margin-top: 63px;
        border-radius: 5px;
        height: 55px;
        width: 36.893%;
        font-size: 1.125rem;
        line-height: 34px;
        letter-spacing: 0.3195px;
        color: #FFFFFF;
        background: #FF2D2D;
        outline: none;
        border: 0px;
    }

}

.nav {

    &__list {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 23px;
        height: 100%;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.49px;
        text-transform: uppercase;
        color: #E0E0E0;

        &:hover {
            background-color: #FF3F40;
        }
    }
}

// first

// second
.provide {
    margin-top: 107px;
    margin-bottom: 98px;
    display: flex;
    gap: 8.233%;

    &__ask {
        display: flex;
        flex-direction: column;
        width: 43.085%;
    }

    &__h2 {
        width: 97%;
        font-size: 2.625rem;
        line-height: 131%;
        letter-spacing: 0.422159px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 50px;
    }

    &__p {
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
    }

    &__button {
        font-size: 18.0412px;
        line-height: 188%;
        letter-spacing: 0.3195px;
        color: #FF2D2D;
        margin-top: 64px;
        width: 42.115%;
        height: 55px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #FF0000;
        border-radius: 5px;
    }

    &__h3 {
        font-size: 1.5rem;
        letter-spacing: 0.271838px;
        margin-bottom: 13px;
        color: #000000;

    }

    &__options {
        width: 48.681%;
        display: flex;
        flex-direction: column;
        gap: 52px;

        &-block {
            display: flex;
            gap: 18px;
        }

        &-item {
            display: flex;
            flex-direction: column;

            &::before {
                margin-bottom: 32px;
            }

            &_1 {
                width: 301px;

                &::before {
                    content: url(/imgs/icons/icon-mech.svg);
                }
            }

            &_2 {
                width: 287px;

                &::before {
                    content: url(/imgs/icons/icon-pen.svg);
                }
            }

            &_3 {
                width: 301px;

                &::before {
                    content: url(/imgs/icons/icon-dimond.svg);
                }
            }

            &_4 {
                width: 289px;

                &::before {
                    content: url(/imgs/icons/icon-auto.svg);
                }
            }
        }
    }
}

// second

// third
.products {
    border-top: 2px solid #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__description {
        margin-top: 104px;
        margin-bottom: 86px;
        width: 42.925%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        text-align: center;
        font-size: 2.625rem;
        letter-spacing: 0.3834px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 29px;
    }

    &__p {
        font-size: 15.9953px;
        line-height: 175%;
        color: #000000;
        margin-bottom: 33px;
        text-align: center;
    }

    &__line {
        width: 24.953%;
        background-color: #FF2D2D;
        height: 2px;
    }

    &__nav {
        width: 100%;
        margin-bottom: 58px;

        &-list {
            display: flex;
            justify-content: center;
            gap: 4.316%;
        }

        &-li {
            font-size: 1.375rem;
            line-height: 109%;
            letter-spacing: 0.22px;
            text-transform: uppercase;
            color: #000;

            &:hover {
                color: #FF2D2D
            }
        }
    }

    &__imgs {
        width: 100%;
        display: flex;
        gap: 1.252%;
        flex-wrap: wrap;
        margin-bottom: 122px;

        &-item {
            margin-bottom: 20px;
            width: 24.061%;
            height: 30vh;
            background-color: #5281FF;
        }
    }
}

// third

// fourth

.team {
    display: flex;
    flex-direction: column;
    margin-bottom: 106px;

    &__description {
        width: 38.21%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 66px;
    }

    &__h2 {
        font-size: 2.625rem;
        letter-spacing: 0.3834px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 34.5px;
        width: 78.033%;
    }

    &__p {
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
        width: 100%;
        margin-bottom: 37px;
    }

    &__line {
        width: 28.033%;
        height: 2px;
        background-color: #FF2D2D;
    }
}

.people {
    display: flex;
    gap: 5%;

    &__big {
        width: 25%;
        background-color: #FF3F40;
    }

    &__all {
        width: 52.917%;
    }

    &__name {
        width: 100%;
        margin-bottom: 46px;
    }

    &__h3 {
        font-size: 1.875rem;
        letter-spacing: 0.275265px;
        text-transform: uppercase;
        color: #000000;
        width: 36.102%;
        margin-bottom: 29px;
    }

    &__p {
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
        width: 100%;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        width: 59.214%;
        margin-bottom: 60px;

        &-item {
            font-size: 1.125rem;
            line-height: 133%;
            letter-spacing: 0.9px;
            color: #000000;
        }
    }

    &__photos {
        width: 128.7%;
        display: flex;
        justify-content: space-between;

        &-item {
            width: 23.24%;
            height: 25vh;
            background-color: #FF3F40;
            display: flex;
            align-items: flex-end;

            &_mod {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.125rem;
                letter-spacing: 0.165159px;
                text-transform: uppercase;
                color: #FFFFFF;
                background: rgb(0, 0, 0, 0.5);
                height: 20%;
                width: 100%;
            }
        }
    }
}

// fourth