@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 10.386%;
}

// first
.header {
    background-color: #F6F2F2;
    display: flex;
    flex-direction: column;

    &__nav {
        opacity: 0.8;
        background: #000;
        width: 100%;
        height: 89px;
    }

    &__description {
        display: flex;
        gap: 5.193%;
        margin-top: 102px;
        margin-bottom: 111px;

        &-text {
            width: 49.4%;
        }

        &-img {
            width: 44.045%;
            background-image: url(/imgs/office.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #ab9a87;
            box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
        }
    }

    &__h1 {
        font-size: 3.75rem;
        line-height: 120%;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #000000;
    }

    &__p {
        margin-top: 36px;
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
        width: 88.187%
    }

    &__button {
        margin-top: 63px;
        border-radius: 5px;
        height: 55px;
        width: 36.893%;
        font-size: 1.125rem;
        line-height: 34px;
        letter-spacing: 0.3195px;
        color: #FFFFFF;
        background: #FF2D2D;
        outline: none;
        border: 0px;
    }

}

.nav {

    &__list {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 23px;
        height: 100%;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.49px;
        text-transform: uppercase;
        color: #E0E0E0;

        &:hover {
            background-color: #FF3F40;
        }
    }
}

// first

// second
.provide {
    margin-top: 107px;
    margin-bottom: 98px;
    display: flex;
    gap: 8.233%;

    &__ask {
        display: flex;
        flex-direction: column;
        width: 43.085%;
    }

    &__h2 {
        width: 97%;
        font-size: 2.625rem;
        line-height: 131%;
        letter-spacing: 0.422159px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 50px;
    }

    &__p {
        font-size: 1rem;
        line-height: 175%;
        color: #000000;
    }

    &__button {
        font-size: 18.0412px;
        line-height: 188%;
        letter-spacing: 0.3195px;
        color: #FF2D2D;
        margin-top: 64px;
        width: 42.115%;
        height: 55px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #FF0000;
        border-radius: 5px;
    }

    &__h3 {
        font-size: 1.5rem;
        letter-spacing: 0.271838px;
        margin-bottom: 13px;
        color: #000000;

    }

    &__options {
        width: 48.681%;
        display: flex;
        flex-direction: column;
        gap: 52px;

        &-block {
            display: flex;
            gap: 18px;
        }

        &-item {
            display: flex;
            flex-direction: column;

            &::before {
                margin-bottom: 32px;
            }

            &_1 {
                width: 301px;

                &::before {
                    content: url(/imgs/icons/icon-mech.svg);
                }
            }

            &_2 {
                width: 287px;

                &::before {
                    content: url(/imgs/icons/icon-pen.svg);
                }
            }

            &_3 {
                width: 301px;

                &::before {
                    content: url(/imgs/icons/icon-dimond.svg);
                }
            }

            &_4 {
                width: 289px;

                &::before {
                    content: url(/imgs/icons/icon-auto.svg);
                }
            }
        }
    }
}

// second